* {
	box-sizing: border-box;
	font-family:arial;
}

body {
	background-color: #232323;
	padding:0;
	margin:0;
}

#header {
	display:block;
	background-color:#f2f2f2;
	padding:25px 50px;
	display:flex;
}

#header a {
	display:block;
	width:350px;
	padding:16px 32px;
	font-size:16px;
	color:#232323;
	text-decoration: none;
}

#header a:hover {
	color:orange;
}

#paper {
	display:block;
	width:75%;
	height:auto;
	padding:75px 50px;
	margin:50px auto;
	background-color:#f2f2f2;
	box-shadow: 2px 2px 5px grey;
}

h1 {
	display:block;
	width:75%;
	margin:0 auto;
	padding:50px 0px;
	color:#f2f2f2;
}

p {
	font-family:times new roman;
	font-size:16px;
}